.signup{
    background-color: #f3f2ee;
    /* height: fit-content; */
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.signup__center_content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.signup__text_content{
    font-size: 40px;
    margin-bottom: 30px;
}

.signup__box_content{
    background-color: white;
    height: fit-content;
    width: 400px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding-bottom: 30px;
}

.signup_header_logo{
    margin-left: 15%;
    margin-top: 20px;
    width: 150px;
    margin-bottom: 30px;
}

.input__label{
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 10px;
    font-size: 12px;
    color: rgba(0, 0, 0, 0.6);
}

.input__input{
    height: 30px;
    border-radius: 5px;
    border: 1px solid lightgray;
    margin-left: 20px;
    margin-right: 20px;
    
}

.li__footer{
    background-color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.signup__agreement_span{
    margin: 20px;
    font-size: 12px;
    color: rgba(0, 0, 0, 0.6);
    text-align: center;
}

.signup__agreement_span>a{
    color: #386ac3;
    text-decoration: none;
    font-weight: bold;
}

.form__form_body_submit_button{
    background-color: #0a66c2;
    height: 48px;
    border-radius: 24px;
    color: white;
    font-size: 16px;
    border: lightblue;
    margin-left: 20px;
    margin-right: 20px;
}

.content__or_h2{
    text-align: center;
    border-bottom: 1px solid lightgrey;
    line-height: 0.1em;
    margin: 10px 0 20px;
    margin-top: 20px;
    margin: 20px;
}

.content__or_span{
    background: #fff;
    padding: 0 20px;
    font-size: 16px;
    color: grey;
}

.continue__google{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 48px;
    border-radius: 24px;
    color: grey;
    font-size: 14px;
    border:1px solid grey;
    margin-left: 20px;
    margin-right: 20px;
    font-weight: bold;
}

.continue__google>img{
    width: 25px;
    margin-right: 10px;
}

.main__sign_in_container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    font-size: 16px;
}

.main__sign_in_container>a, .page_help_link__link{
    color: #386ac3;
    text-decoration: none;
    font-weight: bold;
}

.page_help_link__text{
    color: #252523;
    font-size: 14px;
    margin-top: 20px;
}

.li__footer_list{
    display: flex;
    list-style: none;
    justify-content: center;
}

.li__footer_list_text{
    font-weight: bold;
    font-size: 12px;
    padding-left: 10px;
    color: #757575;
}

.li__footer_list_logo{
    width: 50px;

}

.li__footer_list_year{
    font-size: 12px;
    padding-left: 10px;
    color: grey;
}

.li__footer_list>select{
    border:none !important;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -ms-appearance: none;
}