.post{
    background-color: white;
    margin-bottom: 10px;
    border-radius: 10px;
    padding: 10px;
}

.post__header{
    display: flex;
    align-items: center;
}

.post__button{
    display: flex;
    justify-content: space-evenly;
    font-size: 15px;
}

.post__info>h2, p{
    margin: 0px;
    padding-left: 10px;
}

.post__info>h2{
    font-size: 15px;
}

.post__info>p{
    font-size: 12px;
}

.post__body{
    margin-top: 10px;
    font-size: 12px;
}