.login{
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.login__center_content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login__text_content__head{
    font-size: 35px;
    font-weight:600;
    color: #1a1a1a;
    margin-bottom: 10px;
}
.login__text_content__head__description{
    color: #1a1a1a;
    font-size: 15px;

}

.login__box_content{
    height: fit-content;
    width: 300px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding-bottom: 30px;
    box-shadow: 0 4px 12px rgb(0 0 0 / 15%);
    padding: 24px;
    border-radius: 8px;
    margin: 0 auto;
    margin:40px;
}

.input__password_show{
    color:#457ac9;
    font-weight: bold;
    font-size: 15px;
    /* border: 1px solid black; */
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
    border-radius: 15px;
}

.input__password_show:hover{
    background-color: rgb(226, 238, 246);
}

.login__forgot_password{
    margin-top: 10px;
    margin-bottom: 20px;
    color:#3665C2;
    font-weight: bold;
    margin-left: -5px;
    width: fit-content;
    border-radius: 15px;
    padding: 8px;
}

.login__forgot_password:hover{
    background-color: rgb(226, 238, 246);
    text-decoration: underline;
}

.login_header_logo{
    margin-left: 5%;
    margin-top: 20px;
    width: 100px;
    
}

.login__li__footer{
    background-color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.login__form__form_body_signin_button{
    background-color: #0a66c2;
    height: 48px;
    border-radius: 24px;
    color: white;
    font-size: 16px;
    font-weight: 500;
    border: lightblue;
    margin-left: 20px;
    margin-right: 20px;
}

.login__content__or_h2{
    text-align: center;
    border-bottom: 1px solid lightgrey;
    line-height: 0.1em;
    margin: 10px 0 20px;
    margin-top: 20px;
    margin: 20px;
}

.login__login__google{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    border-radius: 24px;
    color: grey;
    font-size: 14px;
    outline:1px solid grey;
    margin-left: 20px;
    margin-right: 20px;
    font-weight: bold;
    margin:10px;
    border: 2px solid transparent;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.login__login__google>img{
    width: 25px;
    margin-right: 10px;
}


.login__login__google:hover {
    outline: 0px solid transparent;
    border: 2px solid grey;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    background-color: rgb(230, 229, 229);

  }

.login__main__sign_in_container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    font-size: 16px;
}

.login__page_newto_link__link{
    color: #386ac3;
    text-decoration: none;
    font-weight: bold;
}


.login__li__footer_list{
    display: flex;
    list-style: none;
    justify-content: center;
}

.login__li__footer_list_text{
    font-weight: bold;
    font-size: 12px;
    padding-left: 10px;
    color: #757575;
}

.login__li__footer_list_logo{
    width: 50px;

}

.login__li__footer_list_year{
    font-size: 12px;
    padding-left: 10px;
    color: grey;
}

.login__li__footer_list>select{
    border:none !important;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -ms-appearance: none;
}

.login__content__or_h2{
    text-align: center;
    border-bottom: 1px solid lightgrey;
    line-height: 0.1em;
    margin: 10px 0 20px;
    margin-top: 20px;
    margin: 20px;
}

.login__content__or_span{
    background: #fff;
    padding: 0 20px;
    font-size: 16px;
    color: grey;
}